<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample Multi-page Editor"
            extensions="hr"
            icon="icons/sample.gif"
            contributorClass="ehr.rcp.editors.MultiPageEditorContributor"
            class="ehr.rcp.editors.MultiPageEditor"
            id="ehr.rcp.editors.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="ehr.rcp">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.gif"
            category="ehr.rcp"
            class="ehr.rcp.wizards.SampleNewWizard"
            id="ehr.rcp.wizards.SampleNewWizard">
      </wizard>
   </extension>

</plugin>
